<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>検索ページ</title>
<!-- BootstrapのCSS読み込み -->
<link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>
	<!-- jQuery読み込み -->
	<script src="js/jquery-3.6.0.min"></script>
	<!-- Bootstrapのjs読み込み -->
	<script src="js/bootstrap.bundle.js"></script>
	<div class = "container">
		<div class = "card">
			<h2 class="card-header">ID検索</h2>
		</div>
		<!-- 画面から入力しsubmitボタンを押した時に送信する先(Controllerで@PostMappingの引数として記述してるアドレス(/id_search))をaction属性に記載 -->
		<!-- formタグの action属性は　action = "@{アドレス名}" ※@であることに注意！-->
		<form th:action="@{/id_search}" th:method = "post">
			<div>
				検索したいIDを入力してください：　<input type ="text" name = "id" size = "40" />
			</div>
			<div>
				<input type = "submit" value = "★検索開始★" style = "width: 120px" />
			</div>
		</form>
		<div class = "card">
			<h2 class="card-header">ID検索結果画面</h2>
		</div>
		<!-- 結果を画面に表示する際の th:if は　"userSearchInfomation" -->
		<table class = "table table-striped">
			<thead>
				<tr>
					<!-- <th>はテーブル(表)の項目名(見出し)を表示する -->
					<th scope = "col">ID</th>
					<th scope = "col">名称</th>
					<th scope = "col">値段</th>
					<th scope = "col">メーカー名</th>
				</tr>
			</thead>
			<tbody>
				<!-- th:each に指定したコレクションの個数分出力される　 -->
				<!-- th:each = "コレクションの同じ名前の変数名(繰り返し回数を入れる(コレクション内の要素数)) : コレクション名" -->
				<tr th:if = "${userSearchInfomation}" th:each = "userSearchInfomation : ${userSearchInfomation}" th:object = "${userSearchInfomation}">
					<!-- <td>はテーブル(表)の項目名(見出し)の値を表示する -->
					<!-- th:text = "*{SearchRequestInfomation.javaで記述してる変数名(DBからとってきた値の変数名)}" -->
					<td scope = "row" th:text = "*{id}"></td>
					<td scope = "row" th:text = "*{name}"></td>
					<td scope = "row" th:text = "*{price}"></td>
					<td scope = "row" th:text = "*{vendor}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>